.page-content #cities-1 #boston {
  color: purple;
}

.page-content #cities-1 #new-york {
  color: lightseagreen;
}

.page-content #cities-1 #la {
  color: plum;
}

.page-content {
  padding-left: 15px;
  padding-right: 15px;
}

.page-content .cities {
  display: flex;
}

.page-content #cities-1 {
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
}

.page-content #cities-2 {
  flex: 2;
  padding-left: 15px;
  padding-right: 15px;
}

.weather-navbar {
  background-color: lightskyblue;
  border-color: lightskyblue;
}
